/* CSS for adding content example */



body {
  font-family: 'Courier New', Courier, monospace;
  background: url(https://images.unsplash.com/photo-1741916540147-9be1d2b20d32?q=80&w=871&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1,
h3,
p {
  float: left;
  clear: left;
  width: 320px;
  background-color: rgb(93, 195, 232);
  color: #000000;
  text-align: center;
}

h1 {
  margin: 50px 0 0 50px;
  
  background-repeat: no-repeat;
  text-indent: -9999px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

h3 {
  margin: 0 0 0 50px;
  padding: 25px 0 0 0;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1.8em;
  font-style: italic;
  font-weight: 800;
  line-height: 0.8em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

p {
  margin: 0 0 0 50px;
  padding: 30px 0 25px 0;
  font-weight: bold;
  text-align: center;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
}

/* Border under box when you move script in the last example */
p + script + h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid #bcbdc0;
}

/* Fix for full-screen background image: Chrome on Android */
html {
  height: 100%;
  min-height: 100%;
}
body {
  min-height: 100%;
}
